@media screen and (max-width:720px) {

  section{
    width: 90%;
    margin: 0 auto;
  }
  
  nav{
    padding: 20px 5%;
  }
  .nav_container{
    background-color: transparent;
    padding: 0;
  }
  .nav_menu{
    display: none;
  }

  .search{
    display: none;
  }

  .menu i{
    display: block;
    font-size: 22px;
  }

  .logo h3{
    color: black;
  }

  header{
    width: 90%;
    height: 190px;
  }

  .slide_left {
    left: 12px;
    font-size: 13px;
    width: 28px;
    height: 28px;
  }
  .slide_right {
    right: 12px;
    font-size: 13px;
    width: 28px;
    height: 28px;
  }

  .header_container{
    position: static;
  }

  .header_container h2{
    font-size: 1.6rem;
  }

  .header_container p{
    font-size: 13px;
    margin: 8px 0 10px;
  }

  .header_container button{
    font-size: 12px;
  }

  .feature{
    /* flex-direction: column; */
    flex-wrap: wrap;
    top: 220px;
    width: 100%;
    /* height: 1380px; */
    height: 540px;
    margin: 0 auto;
    padding: 10px 0;
    gap: 10px;
    border-radius: 12px;
  }

  .item{
    padding: 10px 12px;
    background-color: rgb(248, 246, 246);
    /* width: 100%; */
    border-radius: 12px;
    
  }

  .item img{
    max-width: 220px;
    margin-bottom: 0;
  }

  .item p{
    font-size: 1.3rem;
    margin: 7px 0;
  }

  .offer{
    flex-direction: column;
    width: 90%;
    text-align: center;
    margin: 620px auto 0;
    gap: 1rem;
  }

  .offer_headline h2{
    font-size: 1.8rem;
  }

  .offer_headline{
    width: 100%;
  }

  .offer_headline p > br{
    display: none;
  }

  .offer_headline p{
    font-size: 1rem;
    line-height: 1.8;
  }

  .product_container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .product{
    width: 100%;
    height: auto;
  }

  .product img{
    max-width: 100%;
  }

  .team{
    width: 90%;
    height: 1420px;
    margin: 100px auto 0;
  }

  .bg2{
    height: inherit;
    opacity: 60%;
  }

  .team_member{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

  .team_headline{
    width: 80%;
  }

  .team_headline h2{
    font-size: 22px;
    margin-bottom: 20px;
  }

  .team_headline p{
    font-size: 1rem;
    line-height: 1.8;
  }

  .member h4{
    font-size: 1.2rem;
  }

  .member p{
    font-size: 14px;
  }

  .heading p br{
    display: none;
  }

  .choose_container{
    flex-direction: column;
    margin: 0 0;
    gap: 25px;
  }

  .items_box{
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    gap: .6rem;
  }

  .items_box hr{
    margin: 12px auto;
    border-top: 1px solid #121212;
    width: 40%;
  }

  .items_info h4{
    font-size: 24px;
  }

  .items_info p{
    font-size: 18px;
    line-height: 1.7;
  }

  .item2{
    order: -1;
  }

  .items_icon img{
    width: 70px;
  }

  .heading{
    width: 90%;
    margin: 25px auto;
  }

  .heading h2{
    font-size: 1.8rem;
  }

  .heading p{
    font-size: 1rem;
    line-height: 1.8;
  }

  .center_img img{
    max-width: 100%;
  }

  .choose_right{
    margin-bottom: 25px;
  }

  .choose_right .items_box{
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    gap: .6rem;
  }

  .choose_right .items_box hr{
    margin: 10px auto;
    border-top: 1px solid #121212;
  }

  .choose_right .items_icon img{
    width: 70px;
  }

  footer{
    padding: 30px 0;
  }

  .footer_menu a{
   line-height: 2;
   font-size: 17px;
  }

  .footer_icon img{
    width: 280px;
    margin-top: 20px;
  }

  .footer_logo{
    margin-bottom: 25px;
  }
}