*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

:root{
  --primary-color: #F85559;
}

section{
  width: 80%;
  margin: 50px auto;
}
/* Navber Design */

nav{
  padding: 30px 10%;
}

.menu i{
  display: none;
}

.nav_container{
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 10px 25px;
  margin: 0 auto;
  align-items: center;
  border-radius: 30px;
}

.nav_menu{
  width: 300px;
}

.nav_menu a{
  color: white;
  font-weight: 400;
  font-size: 14px;
  margin-right: 18px;
}

.nav_menu{
  display: flex;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img{
  width: 40px;
}

.logo h3{
  font-size: 28px;
  color: white;
  font-weight: 500;
}

.search{
  position: relative;
}

.search input{
  width: 300px;
  padding: 12px 13px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.search i{
  position: absolute;
  right: 12px;
  top: 11px;
  color: #121212;
}

/* ----header section---- */

Header{
  width: 80%;
  margin: 0 auto 200px;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../images/banner1.png);
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  position: relative;
  z-index: 5;
}

.bg{
  width: 100%;
  height: inherit;
  background-color: black;
  position: absolute;
  border-radius: 6px;
  z-index: -2;
  opacity: 45%;
}

.header_container{
  position: absolute;
  top: 100px;
}

.header_container h2{
  font-size: 3.5rem;
  color: white;
  line-height: 1.2;
}

.header_container p{
  font-size: 15px;
  color: white;
  margin: 10px 0 15px;
  font-weight: 300;
}

.header_container button{
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}

.feature{
  position: absolute;
  bottom: -120px;
  display: flex;
  width: 80%;
  height: auto;
  margin: 0 auto;
  background-color: white;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 0;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.item img{
  width: 120px;
  margin-bottom: 8px;
}

.item p{
  color: rgb(73, 73, 73);
  font-weight: 400;
}

/* ------Silde Icons---------- */

.slide_icon{
  cursor: pointer;
}

.slide_left {
  width: 40px;
  height: 40px;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: 35px;
}

.slide_right {
  width: 40px;
  height: 40px;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  position: absolute;
  right: 35px;
}
/* offer deadline */

.offer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer_headline p{
  font-size: 13px;
  margin-top: 12px;
  color: rgb(73, 73, 73);
}

.offer_headline h2{
  font-size: 32px;
  font-weight: 700;
}

.offer_deadline p{
  font-size: 13px;
  margin-top: 5px;
  color: rgb(73, 73, 73);
}

.offer_deadline h2{
  font-size: 32px;
  font-weight: 700;
}

.offer_deadline{
  display: flex;
  gap: 1.2rem;
  align-items: center;
  text-align: center;
}

/* .offer_deadline img{
  height: 25px;
} */

.offer_deadline i{
  font-size: 14px;
  color:rgb(73, 73, 73) ;
}

/* ------------------product section------------------- */

.product_container{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.product{
  text-align: center;
  border: 1px solid #eeeaea;
  padding: 30px;
  border-radius: 6px;
}

.product img{
  width: 125px;
}

.product hr{
  color: #eeeaea;
  border-top: none;
}

.product h4{
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
}

.product p{
  font-size: 16px;
  margin: 1rem 0;
  color: #121212;
}

.product .review_stars{
  margin-bottom: 20px;
}

.review_stars i{
  color: var(--primary-color);
}

.product a{
  color: var(--primary-color);
}

.shop_all{
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  margin: 30px auto;
  display: block;
}

/* -------------------------team secction---------------------------- */

.team{
  margin: 100px auto;
  width: 80%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../images/banner1.png);
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  position: relative;
  z-index: 50;
}
.team_member{
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  gap: 40px;
}

.team_headline{
  width: 60%;
  margin: 0 auto;
}

.team_headline h2{
  font-size: 32px;
  margin-bottom: 10px;
  color: white;
}

.team_headline p{
  font-size: 12px;
  color: white;
}

.member img{
  width: 140px;
  margin: 10px 0;
}

.member h4{
  margin: 2px 0;
  color: white;
}

.member p{
  font-size: 12px;
  margin: 5px 0;
  color: white;
}

.member .social li{
  margin: 5px;
  font-size: 14px;
  background-color: var(--primary-color);
  color: white;
  display: inline-flex;
  width: 26px;
  height: 26px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.bg2{
  width: 100%;
  height: inherit;
  background-color: black;
  position: absolute;
  border-radius: 6px;
  z-index: -2;
  opacity: 60%;
}

