*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

:root{
  --primary-color: #F85559;
}

section{
  width: 80%;
  margin: 100px auto;
}
/* Navber Design */

nav{
  padding: 30px 10%;
}

.nav_container{
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 10px 25px;
  margin: 0 auto;
  align-items: center;
  border-radius: 30px;
}

.nav_menu{
  width: 300px;
}

.nav_menu a{
  color: white;
  font-weight: 400;
  font-size: 14px;
  margin-right: 15px;
}

.nav_menu{
  display: flex;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img{
  width: 40px;
}

.logo h3{
  font-size: 28px;
  color: white;
}

.search{
  position: relative;
}

.search input{
  width: 300px;
  padding: 12px 13px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.search i{
  position: absolute;
  right: 12px;
  top: 11px;
  color: #121212;
}

/* ----header section---- */

Header{
  width: 80%;
  margin: 0 auto;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(images/banner1.png);
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  position: relative;
  z-index: 5;
  margin-bottom: 200px;
  /* padding: 0 10%;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(images/banner1.png);
  background-repeat: no-repeat;
  box-sizing: border-box; */
}

.bg{
  width: 100%;
  height: inherit;
  background-color: black;
  position: absolute;
  border-radius: 6px;
  z-index: -2;
  opacity: 45%;
}

.header_container{
  position: absolute;
  top: 100px;
}

.header_container h2{
  font-size:2.8rem;
  color: white;
}

.header_container p{
  font-size: 13px;
  color: white;
  margin: 12px 0;
  font-weight: 300;
}

.header_container button{
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}

.feature{
  position: absolute;
  bottom: -120px;
  display: flex;
  width: 80%;
  height: auto;
  margin: 0 auto;
  background-color: white;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 0;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.item img{
  width: 120px;
  margin-bottom: 8px;
}

.item p{
  color: rgb(73, 73, 73);
  font-weight: 400;
}

/* offer deadline */

.offer{
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.offer_headline{
  width: 40%;
}

.offer_headline p{
  font-size: 13px;
  margin-top: 12px;
  color: rgb(73, 73, 73);
}

.offer_headline h2{
  font-size: 32px;
  font-weight: 700;
}

.offer_deadline p{
  font-size: 13px;
  margin-top: 10px;
  color: rgb(73, 73, 73);
}

.offer_deadline h2{
  font-size: 32px;
  font-weight: 700;
}

.offer_deadline{
  display: flex;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.offer_deadline img{
  height: 25px;
}